/*NavBar*/

header {
  display: flex;
  border: 1px solid black;
  border-radius: 10em;
  background-color: #ff9999;
  margin-bottom: 1em;
  box-shadow: 5px 5px 10px #8080ff;
}

header nav {
  margin-top: .2em;
}

header nav p {
  display: inline;
  justify-content: flex-end;
}

a {
  text-decoration: none;
}

.cart {
  text-align: right;
  display: inline-flex;
  height: 1em;
  width: auto;
  position: relative;
  right: auto;
  position: relative;
  float: right;
  box-shadow: 2px 2px 5px #666666;
  border-radius: 20px;
  background: linear-gradient(to bottom, #ff9999 0%, #ff3333 100%);
  text-align: center;
  padding: 20px 20px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
}

.cart:hover{
  cursor: pointer;
  background: linear-gradient(to top, #ff9999 0%, #ff3333 100%);
}

.cart img {
  display: inline-flex;
  width: auto;
  height: 1em;
  width: auto;
  float: right;
  text-align: right;
  position: relative;
  right: auto;
  background-color: black;
}

.cartDiv {
  background-color: white;
  border: 2px solid red;
  border-radius: 1em;
  width: 20em;
  height: 20em;
  position: absolute;
  top: 6em;
  right: 1em;
  display: none;
  z-index: 1;
  overflow: scroll;
}

.button {
  box-shadow: 2px 2px 5px #666666;
  border-radius: 20px;
  background: linear-gradient(to bottom, #ff9999 0%, #ff3333 100%);
  text-align: center;
  padding: 20px 20px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  position: relative;
  font-size: 1em;
  width: 11em;
  margin-left: 5em;
}

@media (max-width: 1721px){
  .logo {
    margin-top: 1.5em;
  }
}


@media (max-width: 999px) {
  .button {

  }
  .logo {
    margin-top: 3em;
    margin-right: 0;
  }
}



/*
@media (max-width: 1759px) {
  .logo {
    margin-top: 1.5em;
  }
}
*/


.button:hover {
  cursor: pointer;
  background: linear-gradient(to top, #ff9999 0%, #ff3333 100%);
}

.button:active {
  top: .5em;
}


/* Footer */

footer {
  display: flex;
  text-align: center;
  background-color: #ff9999;
  border: 1px solid black;
  border-radius: 10em;
  margin-top: 1em;
  box-shadow: 5px 5px 10px #0099e6;
}

#logo {
  width: 10em;
}

footer a img {
  width: 100%;
  margin-top: .7em;
}

footer h4 {
  margin-right: 1em;
  margin-left: 1em;
  font-family: "Montserrat";
}

/* General */

html {
  length: auto;
  background: linear-gradient(to bottom, #b3b3ff 0%, #66ffff 100%);
  scroll-behavior: smooth;
}

p {
  font-family: "Noto Serif";
  margin: .5em 0 .5em 0;
  line-height: 1.2em;
  font-size: .9em;
}

h2 {
  font-family: "Noto Serif";
}

.main {
  background: white;
  box-shadow: 1px 1px 10px #6699ff;
  width: 95%;
  margin: auto;
  padding: .1em;
  border-radius: 0 0 15px 15px;
}

.sub {
  margin: auto;
  background-color: white;
  padding-left: .5em;
  border-radius: 1em;

}

.heading {
  width: 100%;
  height: 100%;
  background-color: #ff9999;
  width: 95%;
  margin: auto;
  padding: .1em;
  box-shadow: 1px 1px 10px #6699ff;
  border-radius: 15px 15px 0 0;
}

.heading h2 {
  margin-left: .5em;
}

ol, ul {
  line-height: 2em;
}

img {
  display: block;
  margin: auto;
}

input {
  font-size: 2em;
  width: 2em;
  float: right;
  position: relative;
  right: 4em;
  top: 3em;
  background: #e6e6e6;
}

/* Homepage */

.grid { 
  margin: 1em 0;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 97%;
  align-content: space-around;
  padding: 1em;
  border-radius: 20px;
}

.cell {
  background-color: white;
  box-shadow: 0px 0px 2px black;
  border: 1px solid black;
  text-align: center;
  position: relative;
  height: 18em;
}
.cell img {
  height: 10em;
  width: auto;
}

.goTo {
  padding: 1em;
  background: linear-gradient(to bottom, #ff9999 0%, #ff3333 100%);
  border: none;
  border-radius: 1em;
  color: white;
  font-family: "Montserrat";
  position: absolute;
  bottom: .2em;
  right: 1em;
}

.goTo:hover {
  background: linear-gradient(to top, #ff9999 0%, #ff3333 100%);
  cursor: pointer;
}

.gallery-heading {
  border-radius: 1em 1em 0 0;
  background-color: #ff9999;
  width: 95%;
  margin: 0 auto;
  padding: .5em 0;
  text-align: center;
  font-family: "Montserrat";
}

.gallery-heading h3{
  font-size: 1em;
}

.gallery-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.gallery-button:hover {
  background-color: grey;
}

.display-right {
  position: static;
  top: 50%;
  right: 0%;
  border-radius: 0 0 1em 0;
}

.display-left {
  position: static;
  top: 50%;
  left: 0%;
  border-radius: 0 0 0 1em;
}

.slideGroup {
  position: relative;
  left: 2.8em;
  display: inline-grid;
  width: 94.8%;
  height: auto;
  background-color: white;
  margin-bottom: 1em;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  align-content: space-between;
  border-radius: 0 0 1em 1em ;
  border: 1px solid black;
}

.slides {
  position: relative;
  height: 23em;
  width: 33%;
  display: inline-block;
  font-family: "Noto Serif";
  display: inline;
  justify-self: center;
  text-align: center;
}

.slides2 {
  position: relative;
  height: 26em;
  width: 33%;
  display: inline-block;
  font-family: "Noto Serif";
  display: inline;
  justify-self: center;
  text-align: center;
}

.slides img {
  height: 10em;
  width: auto;
  margin: 1em auto;
  align: center;
}

.slides2 img {
  height: 10em;
  width: auto;
  margin: 1em auto;
  align: center;
}

.slides h4 {
  width: auto;
  margin: 0;
}


/*Premade Bags and Wholesale Bags*/

.description p,
.description ul {
  line-height: 1em;
  font-size: .8em;
}

.item {
    border: 2px solid rgba(0, 0, 0, 0.5);
    padding: 1em;
    width: 96.5%;
    border-radius: 4em;
    height: 12.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item div{
  position: relative;
}

.itemName {
  font-size: 1.2em;
  display: inline-block;
  position: absolute;
  bottom: 1em;;
  left: 1em;
}

.itemPrice {
  font-size: 1em;
  float: left;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 1em;
}

.description {
  display: inline-block;
  float: left;
  position: absolute;
}

.item img {
  display: inline-block;
  margin: 0;
  height: auto;
  width: 9em;
  border-radius: 1em;
}

.description ul {
  display: block;
  margin: auto;
}

.addToCart {
  border: 1px solid darkred;
  border-radius: 1em;
  background: linear-gradient(to bottom, #ff9999 0%, #ff3333 100%);
  width: 8em;
  height: auto;
  padding: 1em;
  font-weight: bold;
  color: white;
  font-family: "Montserrat";
  text-align: center;
  float: right;
  position: relative;
  top: 2em;
  right: 1em;
}

.addToCart:hover{
  cursor: pointer;
  background: linear-gradient(to top, #ff9999 0%, #ff3333 100%);
}

/*Build a Bag*/

#buildabagLayout {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 5fr 2fr 5fr;
}

.instructions {
  display: block;
  height: 1em;
}

#priceTrackerCell {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column: 2;
}

.priceTracker {
  margin-top: 1em;
  width: 95%;
  height: auto;
  background-color: #ebebe0;
  border-left: 1px solid black;
  border-radius: 1em;
  padding: .1em;
  box-shadow: 1px 1px 4px black;
  position: sticky;
  top: 1em;
}

.priceTracker h5 {
  margin-left: 1.3em;
}

.priceTracker h4 {
  margin-bottom: .1em;
}

.priceTracker button {
  background: inherit;
  font-family: "Noto Serif";
}

#BABSelector {
  float: none;
  position: static;
}

.itemGrid {
  border-top: 1px solid grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .3fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
}

.itemType {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  text-align: left;
  margin: .5em;
}


.BABItem h4,
.BABItem h5 {
  margin: 0 auto;
}

.BABItem img {
  height: 5em;
  width: auto;
}

#ribbonGrid {
  border-top: 1px solid grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .3fr 12em 12em;
  text-align: center;
}



/*Shipping Page*/

table {
  width: 100%;
  text-align: center;
  border: .01em solid black;
  margin: auto;
  border-collapse: collapse;
}

tr {
  line-height: 1.5em;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #bfbfbf;
}

div.content{
  margin-left: .5emjjfkf
}
